.nav-bar {
  position: sticky;
}

.movie-card--container,
.nav-bar {
  display: flex;
  margin: 1rem;
}

.movie-card--wrapper {
  flex: 1 1 auto;
  min-width: 300px;
}

/* MOVIE CARD HEADER */
.movie-card--header {
  padding: 0.5rem 0.25rem;
}

.movie-card--subtitle {
  width: 295px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* MOVIE CARD CONTENT */
.movie-card--content {
  padding: 10px;
  width: fit-content;
  height: 100%;
}

.movie-img {
  width: 100%;
  height: 100%;
}